/*Gerais*/

.imgHeader{
    height: 75px;
    width: 100px;
    

}
    


.headerGeral{
    /*Configuraçõe flexbox*/


    /*Configurações de estilo*/
    height: 300px;
    width: 100%;
    background-color: rgb(rgb(39, 38, 38), green, blue);
}

.navGeral{
    background-color:rgb(39, 38, 38);
}


/* CSS da tela de Login*/



/*Página Principal*/



/*Visualização de estoque*/



/*Aprovação de clientes*/



/*Gerenciamento de KITs*/



/*Submissão de compras*/



/*Área de peças*/



/*Cadastro e baixa de peças*/



/*movimentação de peças*/

/*Catálogo*/